[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/mchittibnu
[access "refs/for/refs/*"]
	read = group user/mchittibnu
	push = group user/mchittibnu
	label-Code-Review = -2..+2 group user/mchittibnu
	label-Verified = -1..+1 group user/mchittibnu
	rebase = group user/mchittibnu
	removeReviewer = group user/mchittibnu
	submit = group user/mchittibnu
[access "refs/heads/*"]
	read = group user/mchittibnu
	create = group user/mchittibnu
	push = +force group user/mchittibnu
	pushMerge = group user/mchittibnu
[access "refs/tags/*"]
	push = group user/mchittibnu
	push = +force group user/mchittibnu
